{% extends 'base.html' %}

{% load static %}

{% block link %}
<link href="https://cdn.datatables.net/v/bs5/dt-2.2.2/b-3.2.2/b-html5-3.2.2/b-print-3.2.2/sp-2.3.3/sl-3.0.0/datatables.min.css" rel="stylesheet" integrity="sha384-ebxDHBxEjGoxnR/Pp2pduO0qc33EuRS1tgMVrEmsLPP0CGiLieUAqFYP+UGtrPvW" crossorigin="anonymous">{% endblock link %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-2.2.2/b-3.2.2/b-html5-3.2.2/b-print-3.2.2/sp-2.3.3/sl-3.0.0/datatables.min.js" integrity="sha384-peBuKKhniHHzOyymyL754NUbuj1djB6WL3waDAwYGiKN5HuJ1tD6r3reLcKyabqY" crossorigin="anonymous"></script>

<script type="text/javascript">
    var isAuthenticated = "{{ user.is_authenticated|yesno:'true,false' }}";
    var loginUrl = "{% url 'authentication:login' %}";
</script>
<script src="{% static 'js/datatables-config.js' %}"></script>
{% endblock js %}