@charset "UTF-8";

:root {
    --page-bg-color: #f7f9fc; /* #ffffff */
    --focus-color: #0d6efd40;
    --focus-color-alt: #ffffff;
    --nav-bg-color: #ffffff; /* #ffefef */
    --title-bg-color: #140642; /* #efeefd */
    --title-color: #ffffff;
    --success-bg-color: rgba(0, 128, 0, 0.1);
    --unsuccess-bg-color: rgba(255, 0, 0, 0.1);
    --not-done-bg-color: rgba(31, 32, 32, 0.1);
    --success-color: #008000;
    --unsuccess-color: #ff0000;
    --dt-body-bg-color: #ffffff;
    --dt-search-bg-color: #ffffff;
    --btn-bg-color: #4f46e5;
    --card-head-bg-color: #4f46e5;
    --card-body-hover-bg-color: #edf6ff;
    --dropdown-link-hover-bg-color: #e2e2e6;

    /* filteredSelectMultiple */
    --body-quiet-color: #666;
    --border-color: #ccc;
    --darkened-bg: #f8f8f8;
    --header-link-color: #fff;
    --selected-bg: #e4e4e4;
    --selector-head-bg-color: #4f46e5;
}

/* add margin for fixed navbar */
html {
    height: calc(100% - 63px);
    margin-top: 63px;
}

body {
    background-color: var(--page-bg-color);
    height: 100%;
}

nav {
    background-color: var(--nav-bg-color);
}

nav .container-fluid {
    max-width: 1440px !important;
}

.text-bg-blue {
    color: #fff!important;
    background-color: var(--nav-bg-color)!important;
}



/*
#######

nav bar

#######
*/

.dropdown-item.nav-link {
    border-radius: 0.4rem;
}

.dropdown-item.nav-link:hover {
    background-color: var(--dropdown-link-hover-bg-color);
}

/* add margin right to dropdown arrow */
.dropdown-toggle::after {
    margin-right: .255em;
}

.btn-primary {
    background-color: var(--btn-bg-color);
}


/*
#####

Focus

#####
*/

.dt-search :focus-visible {
    outline: 0;
    box-shadow: 0 0 0 .25rem var(--focus-color);
}

.dt-scroll :focus-visible {
    outline: 0;
    box-shadow: inset 0 0 0 .25rem var(--focus-color);
    border-radius: 5px;
}

table.dataTable thead>tr>th.dt-orderable-asc:focus-visible,
table.dataTable thead>tr>th.dt-orderable-desc:focus-visible,
table.dataTable thead>tr>td.dt-orderable-asc:focus-visible,
table.dataTable thead>tr>td.dt-orderable-desc:focus-visible {
    outline: 0;
    box-shadow: inset 0 0 0 .25rem var(--focus-color);
    border-radius: 5px;
}

.dt-scroll-head :focus-visible {
    outline: 0;
    box-shadow: inset 0 0 0 .25rem var(--focus-color);
    border-radius: 5px;
}

a:focus-visible, .nav-link:focus-visible, input:focus-visible, select:focus-visible {
    outline: 0 !important;
    box-shadow: 0 0 0 .25rem var(--focus-color) !important;
    border-radius: 5px !important;
}

#title a:focus-visible {
    outline: 0 !important;
    box-shadow: 0 0 0 .25rem var(--focus-color-alt) !important;
    border-radius: 5px !important;
}

#nav-user:focus-visible {
    border-radius: 50rem !important;
}

/*
#####

Title

#####
*/

#title {
    background-color: var(--title-bg-color);
    color: var(--title-color);
}

#title a {
    color: var(--title-color) !important;
}


/*
#######################

DataTables adjustements

####################### 
*/

#custom-dt {
    margin: 0;
    display: none; /* hide table to avoid FOUC, show it with js in datatable initComplete */
}

/* margin between label and input (original margin: 3px) */
#dt-search-0 {
    margin-left: 5px;
}

/* rows height */
.dt-scroll-head thead tr {
    height: 40px;
}

.dt-scroll-body #custom-dt tbody tr {
    height: 88px;
}

/* remove original datatable child rows bullet and add custom one */
table.dataTable td.dt-control:before {
    display: none;
}

td.dt-control {
    background: url('../img/svg/chevron-right.svg') no-repeat center center;
}

tr.dt-hasChild.shown td.dt-control {
    background: url('../img/svg/chevron-down.svg') no-repeat center center;
    border-bottom: 0;
}

/* search bar background color */
div.dt-container .dt-search input {
   background-color: var(--dt-search-bg-color);
}

#results .success {
    color: var(--success-color);
}
#results .unsuccess {
    color: var(--unsuccess-color);
}

/* success and unsuccess colors */
#custom-dt tbody.colored .success, #tables .success {
    background-color: var(--success-bg-color) !important;
}

#custom-dt tbody.colored .unsuccess, #tables .unsuccess {
    background-color: var(--unsuccess-bg-color) !important;
}

#tables .not-done {
    background-color: var(--not-done-bg-color) !important;
}

table.table.dataTable>:not(caption)>*>* {
    background-color: unset;
}

/* first column min width  */

.dt-first-col, .childrow-first-col {
    min-width: 40px;
}

/*
##################

Cards adjustements

##################
*/

/* .card {
    max-width: 350px;
} */

.card-header {
    background-color: var(--card-head-bg-color);
    color: var(--dt-body-bg-color);
}

.card-body {
    min-height: 104px;
}

.card-wrap:hover .card-body {
    background-color: var(--card-body-hover-bg-color) !important;
}

.card-footer {
    min-height: 40.8px;
    font-size: 0.9rem;
}

/*
##################

Slick adjustements

##################
*/

/* card body text truncate 3 lines max */

.slick-track {
    height: 300px !important;
}

/* button previous and next */

.slick-disabled {
    opacity: .25;
}


/* dots */

/* 
.slick-dots li {
    margin: 0;
}
*/

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.slick-dots li button:before {
    font-size: 8px;
}

.slick-dots {
    position: relative;
    bottom: 0px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}


/*
######################

FilteredSelectMultiple

######################
*/

.selector h2 {
    font-size: 1rem;
    margin: 1em 0 .5em 0;
}

.selector select {
    border-color: var(--border-color);
    font-size: 0.8125rem;
}

.selector-chosen h2 {
    background: var(--selector-head-bg-color) !important;
}

.selector input {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
    color: var(--body-fg);
    background-color: var(--body-bg);
    font-size: 0.8125rem;
}

.selector-chosen .list-footer-display {
    background: #9C95F3 !important;
}

.stacked, .stacked select, .stacked .selector-available, .stacked .selector-chosen, .stacked .selector-available input {
    width: 100% !important;
}

.stacked select {
    height: 15em !important;
}

.stacked {
    max-width: 490px !important;
    /* Set float to none to fix display */
    float: none !important;
}

.stacked select, .stacked .selector-available, .stacked .selector-chosen {
    max-width: 480px !important;
}

.stacked .selector-available input {
    max-width: 422px !important;
}
