@charset "UTF-8";

:root {
    --bs-grey-95: #f2f2f2;
}

html {
    height: calc(100% - 65px);
    margin-top: 58.4px;
}

body {
    background-color: #fafafa;
    height: 100%;
}

#nav-user {
    max-width: 1.5rem;
    min-width: 1.5rem;
    overflow: clip;
}

.offcanvas.offcanvas-start {
    width: 240px;
}