<table id="custom-dt" class="table align-middle mt-4" width="100%">
    <thead>
        <tr>
            <th width="6%"></th>
            <th width="23.5%" tabindex="0">Infinitive</th>
            <th width="23.5%" tabindex="0">Simple past</th>
            <th width="23.5%" tabindex="0">Past participle</th>
            <th width="23.5%" tabindex="0">Translation</th>
            <th>Is Success</th>
        </tr>
    </thead>
    <tbody class="table-group-divider colored active">
        {% for verb in verbs %}
        <tr class="{% if verb.is_success is True %}success{% elif verb.is_success is False %}unsuccess{% else %}not-tested{% endif %}">
            <td tabindex="0" aria-label="Open/close child row"></td>
            <td>{{ verb.infinitive }}</td>
            <td>{{ verb.simple_past }}</td>
            <td>{{ verb.past_participle }}</td>
            <td>{{ verb.translation }}</td>
            <td>{{ verb.is_success }}</td>
            <td>
                {% for info in verb.info.all %}
                <div class="fst-italic .text-body">
                    <div>
                        {{ info.content }}
                    </div>
                </div>
                {% endfor %}
            </td>
            <td>
                {% for example in verb.examples.all %}
                <div class="mb-2 .text-body">
                    <div>
                        {{ example.english }}
                    </div>
                    <div class="fst-italic">
                        {{ example.translation }}
                    </div>
                </div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>