{% extends 'verbs/verb_base.html' %}

{% block content %}
<div class="row justify-content-between justify-content-lg-center">
    <div class="mb-4 col-md-5 col-lg-4 col-xl-3 me-md-5">
        <p class="text-center">It's training time!</p>
        <div class="d-flex flex-column justify-content-center">
            {% include 'includes/buttons/training.html' %}
        </div>
    </div>
    <div class="mb-4 col-md-5 col-lg-4 col-xl-3 ms-md-5">
        <p class="text-center">Reset this table?</p>
        <div class="d-flex flex-column justify-content-center">
            {% include 'includes/buttons/reset.html' %}
        </div>
    </div>
</div>
{% include 'verbs/includes/table.html' with verbs=object.verbs.all %}
{% endblock content %}