{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
{% endblock link %}

{% block content %}
<div id="tables" class="d-flex flex-column my-4 col-11 col-md-10 mx-auto gap-4">
    <div id="default-tables">
        <div class="d-flex flex-row gap-2 mb-3 align-items-center justify-content-center">
            <h4 class="text-center text-md-start">
                Default tables
            </h4>
            {% if request.user.is_staff %}
            <a class="btn btn-link p-0 mx-2 mb-2" href="{% url 'tables:default:add' %}" aria-label="Add new table">
                <img src="{% static 'img/svg/circle-plus.svg' %}" alt="add icon" title="Add new table"/>
            </a>
            {% endif %}
        </div>
        <div class="default-tables__slick">
            {% for table in default_tables %}
                {% include 'tables/includes/card.html' with table=table %}
            {% endfor %}
        </div>
        {% include 'tables/includes/list_nav.html' %}
    </div>
    <div id="user-tables">
        <div class="d-flex flex-row gap-2 mb-3 align-items-center justify-content-center">
            <h4 class="text-center text-md-start">
                My tables
            </h4>
            <span class="fw-normal fs-5 text-nowrap mb-2">({{ user_tables_count }} / 10)</span>
            <span class="align-middle">
                <a class="btn btn-link p-0 mx-2 mb-2 {% if user_tables_count >= 10 %}disabled{% endif %}" href="{% url 'tables:user:add' %}" aria-label="Add new table">
                    <img src="{% static 'img/svg/circle-plus.svg' %}" alt="add icon" title="Add new table"/>
                </a>
            </span>
        </div>
        {% if user_tables %}
        <div class="user-tables__slick">
            {% for table in user_tables %}
                {% include 'tables/includes/card.html' with table=table %}
            {% endfor %}
        </div>
        {% include 'tables/includes/list_nav.html' %}
        {% else %}
        <div class="d-flex flex-column justify-content-center text-center my-4">
            <p>You can create your own table!</p>
            <p class="align-middle">
                Click 
                <a class="btn btn-link p-0 mx-2 mb-1 {% if user_tables_count >= 10 %}disabled{% endif %}" href="{% url 'tables:user:add' %}" aria-label="Add new table">
                    <img src="{% static 'img/svg/circle-plus.svg' %}" alt="add icon" title="Add new table"/>
                </a>
                to add a new one.
            </p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="{% static 'js/slick-config.js' %}"></script>
{% endblock js %}