{% extends 'verbs/verb_base.html' %}

{% block content %}
<div class="mb-4">
    <div class="row row-cols-3">
        <div class="col d-flex justify-content-start">
        {% include 'includes/buttons/return.html' %}
        </div>
        <div class="col d-flex justify-content-center">
            <a class="btn btn-outline-primary text-nowrap" href="{% url 'tables:training' table.id table.slug_name %}" tabindex="-1">
                Train yourself!
            </a>
        </div>
        <div class="col d-flex justify-content-end">
            <a class="btn btn-link icon-link link-body-emphasis text-decoration-none px-0" href="{% url 'tables:training' table.id table.slug_name %}" tabindex="-1">
                Edit
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right ms-1"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
            </a>
        </div>
    </div>
</div>
{% include 'verbs/includes/table.html' with verbs=table.verbs.all %}
{% endblock content %}