{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
{% endblock link %}

{% block content %}
<div class="my-4 col-11 col-md-10  mx-auto">
    <div id="default-tables">
        <h4 class="text-center text-md-start mb-3">Default tables</h4>
        <div class="default-tables__slick mx-md-5">
            {% for table in default_tables %}
                {% include 'tables/includes/card.html' with table=table %}
            {% endfor %}
        </div>
    </div>
    <div id="user-tables">
        <h4 class="text-center text-md-start mb-3">My tables</h4>
        <div class="user-tables__slick mx-md-5">
            {% for table in user_tables %}
                {% include 'tables/includes/card.html' with table=table %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="{% static 'js/slick-config.js' %}"></script>
{% endblock js %}