{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block h1 %}
    Delete my account
{% endblock h1 %}

{% block content %}
    <div class="col-md-8 col-lg-6 mx-auto">
        <a class="icon-link link-body-emphasis text-decoration-none" href="{% url 'account' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left me-3"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
            Return
        </a>
    </div>
    <div class="bg-white rounded-3 border px-3 my-4 col-md-8 col-lg-6 mx-auto">
        <div class="text-center pt-4">
            <p>Are you sure you want to delete your whole account ?</p>
            <p><strong class="text-danger">You will lose everything !</strong></p>
            <p><strong class="text-danger">All content relating to you will be deleted !</strong></p>
        </div>
        <form method="post" class="p-3">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-4 d-flex flex-column flex-md-row">
                <button type="submit" class="btn btn-outline-danger" aria-label="Delete my account">Delete my account</button>
            </div>
        </form>
    </div>
{% endblock %}