{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block h1 %}
    Login
{% endblock h1 %}

{% block content %}
    {% include 'includes/buttons/return.html' %}
    <div class="bg-white rounded-3 border px-3 my-4 col-md-10 col-lg-8 mx-auto">
        <form method="post" class="p-3">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-4 d-flex flex-column flex-md-row">
                <button class="btn btn-outline-primary" type="submit" aria-label="Login">Login</button>
            </div>
        </form>
        <div class="m-3 border-top pt-3 d-flex flex-column flex-md-row gap-md-2 justify-content-center align-items-center">
            You don't have an account yet ?
            <a class="text-decoration-none" href="{% url 'signup' %}" aria-label="Access sign up page">Sign up now</a>
        </div>
    </div>
{% endblock content %}