{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}{% endblock title %}

{% block content %}
<div class="mt-4">
    <div class="col-md-10 col-lg-8 mx-auto">
        {% include 'includes/buttons/return.html' %}
    </div>
    <div class="bg-white card shadow rounded-3 border my-4 mx-auto" style="max-width: 500px;">
        <div class="card-body">
            <div class="text-center p-3">
                <h2>{{ title }}</h2>
            </div>
            <form method="post" class="p-3">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-2">
                    <a class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'authentication:password-reset' %}" aria-label="Access password reset page">
                        <small>Trouble logging in?</small>
                    </a>
                </div>
                <div class="mt-4 d-flex flex-column">
                    <button class="btn btn-primary" type="submit" aria-label="Login">Login</button>
                </div>
            </form>
            <div class="d-flex flex-column text-center px-3 py-1">
                <a class="btn btn-light text-dark-hover text-primary" href="{% url 'authentication:signup' %}" aria-label="Access sign up page">
                    Don't have an account? Sign up
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}