{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    {% include 'includes/buttons/return.html' %}
    <div class="bg-white rounded-3 border px-3 my-4 col-md-10 col-lg-8 mx-auto">
        <form method="post" class="p-3">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-4 d-flex flex-column flex-md-row">
                <button id="submit-form" class="btn btn-outline-primary" type="submit" aria-label="Sign up">Sign up</button>
            </div>
        </form>
    </div>
{% endblock content %}